<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="contact.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>VAULT MATE</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="logo" href="#">
                <img class="logo-image" src="2.png" alt="Vault Mate Logo">
                <span class="site-title">VAULT MATE</span>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/main">HOME</a></li>
                    <li><a href="/about">ABOUT</a></li>
                    <li><a href="/main">IMPORTANT LINKS</a></li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <br><br>
    <div class="contact-containera">
        <div class="contact-infoo">
            <h2>Contact Information</h2>
            <p>Email: example@example.com</p>
            <p>Phone: +1 (123) 456-7890</p>
        </div>
        <div class="social-mediac">
            <h2>Connect with Us</h2>
            <div class="social-boxa">
                <a href="https://www.facebook.com" target="_blank">
                    <img src="f.png" alt="Facebook">
                </a>
            </div>
            <div class="social-boxa">
                <a href="https://www.twitter.com" target="_blank">
                    <img src="t.jpg" alt="Twitter">
                </a>
            </div>
            <div class="social-boxa">
                <a href="https://www.linkedin.com" target="_blank">
                    <img src="l.png" alt="LinkedIn">
                </a>
            </div>
            <div class="social-boxa">
                <a href="https://www.instagram.com" target="_blank">
                    <img src="i.png" alt="Instagram">
                </a>
            </div>
        </div>
    </div>    
    <br><br><br><br><br><br>
    <footer class="footer">
        <h3 align = "left">&nbsp;&copy; 2023 Vault Mate. All rights reserved.</h3>
    </footer>
</body>
</html>
