<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="doc.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>VAULT MATE</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="logo" href="#">
                <img class="logo-image" src="2.png" alt="Vault Mate Logo">
                <span class="site-title">VAULT MATE</span>
            </a>
        </div>
    </header>
    <div class="box-container">
        <div class="box">
            <img src="4.jpg" alt="Square Image">
        </div>
        <div class="button-row">
            <a href="/upload"><button class="green-button">Upload</button></a>
            <a href="/preview"><button class="green-button">Preview</button></a>
        </div>
        
    </div>
    <br>
    <footer class="footer">
        <h3 align = "left">&nbsp;&copy; 2023 Vault Mate. All rights reserved.</h3>
    </footer>
</body>
</html>