<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vault Mate - Loading...</title>
    <link rel="stylesheet" href="load.css"> 
</head>
<body class="loading-page">
    <div class="loader-container">
        <img src="2.png" alt="Vault Mate Logo" class="loader-logo">
        <h1 class="loader-title">VAULT MATE</h1>
        <p class="loader-tagline">Your Documents, Our Priority. Securely Stored.</p> 
        <div class="spinner"></div> 
    </div>

    <script>
       
        setTimeout(function () {
            window.location.href = '/signin';
        }, 3000); // Redirect after 3 seconds
    </script>
</body>
</html>