<!DOCTYPE html>
<html>
<head>
    <title>ValtMate</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
</head>
<body id="load">
    <center>
        <img src="2.png">
        <h1>VAULT MATE</h1>
    </center>

    <script>
        setTimeout(function () {
            window.location.href='/signin';
        }, 3000);
    </script>
</body>
</html>
