<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="script.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>VAULT MATE</title>
</head>
<body>
    <header class="header">
        <div class="container">
            <a class="logo" href="#">
                <img class="logo-image" src="2.png" alt="Vault Mate Logo">
                <span class="site-title">VAULT MATE</span>
            </a>
            <nav class="menu">
                <ul>
                    <li><a href="/signup">SignUp</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <div class="page-wrapper">
        <div class="login-card"> <h2 class="section-title">Secure Access to Your Vault</h2> <p class="social-login-text">Login using Social accounts</p> <div class="fa-container social-icons-login"> <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-twitter"></a>  
                <a href="#" class="fa fa-google"></a>
            </div>
            <p class="or-separator">OR</p> <form action="/signin" method="post" class="login-form">
                <p class="info-text">After entering your password, you’ll receive a one-time code via email to complete login.</p>
                <div class="input-group">
                    <input type="text" class="form-input" placeholder="Mobile Number" name="mobile" required>
                    <input type="password" class="form-input" name="password" placeholder="password" required>
                </div>
                <div class="button-group">
                    <button type="reset" class="form-button reset-button">Reset</button>
                    <button type="submit" class="form-button signin-button">Sign In</button>
                </div>
                <a href="/forgot-password" class="forgot-link">Forgot Password?</a>

            </form>
        </div>

        <!-- <div class="signup-card"> <h2 class="section-title">New Here?</h2> <p class="section-subtitle">Sign Up and discover new opportunities here</p> <img src="1.png" alt="Vault Mate Logo" class="circular-image">
            <a class="form-button signup-button" href="/signup">Sign Up</a> </div> -->
    </div>

    <footer class="footer">
        <p>&copy; 2025 Vault Mate. All rights reserved.</p>
    </footer>

    <script src="signin.js"></script>
</body>
</html>